section.about{
    @apply flex flex-col items-center bg-secondary
    dark:bg-primary p-10 gap-5
}

section.about div .title__about{
    @apply text-3xl font-sans font-bold;
    @apply text-transparent bg-clip-text bg-gradient-to-tr 
    from-primary to-gray-600;
    @apply dark:text-transparent dark:bg-clip-text dark:bg-gradient-to-r 
    dark:from-secondary dark:to-neutral
}

section.about .details__about{
    @apply w-[6/8] sm:w-1/2;
}

section.about .details__about .list-details__about{
    @apply relative border-l border-accent dark:border-secondary;
}

section.about .details__about .list-details__about .item-list-details__about{
    @apply mb-10 ml-6
}

section.about .details__about .list-details__about .item-list-details__about
.icon-item-list-details__about{
    @apply absolute flex items-center justify-center w-8 
    h-8 rounded-full -left-4 ring-8;
    @apply ring-secondary bg-gradient-to-r
    from-secondary to-neutral border-none;
    @apply dark:ring-primary dark:bg-gradient-to-r 
    dark:from-primary dark:to-secondary dark:border-none;
}

section.about .details__about .list-details__about .item-list-details__about
.title-item-list-details__about{
    @apply flex items-center mb-1 ml-2 text-lg font-semibold;
    @apply text-transparent bg-clip-text bg-gradient-to-r 
    from-primary to-neutral;
    @apply dark:text-transparent dark:bg-clip-text dark:bg-gradient-to-r 
    dark:from-secondary dark:to-neutral
}

section.about .details__about .list-details__about .item-list-details__about
.title-item-list-details__about .badge-title-item-list-details__about{
    @apply text-accent text-sm 
    font-medium mr-2 px-2.5 py-0.5 rounded ml-3;
    @apply bg-gradient-to-r from-secondary via-gray-700 to-primary border-none;
    @apply dark:text-primary dark:font-semibold dark:bg-gradient-to-r 
    dark:from-secondary dark:to-neutral dark:border-none;
}

section.about .details__about .list-details__about .item-list-details__about
.description-item-list-details__about{
    @apply mb-4 ml-2 text-base font-normal text-primary
    dark:text-secondary
}

section.about .details__about .list-details__about .item-list-details__about
.date-item-list-details__about{
    @apply block mb-2 ml-2 text-sm font-normal leading-none 
    text-gray-700 dark:text-accent
}